.ml6 {
    font-weight: 400;
    font-size: 2.0em;
}

.ml6 .text-wrapper {
    display: inline-block;
    padding-top: 2em;
    padding-right: 0.05em;
    padding-bottom: 2em;
    overflow: hidden;
    cursor: url('static/mickey_hand.png') 200 200, pointer;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}