{% extends 'website/base.html' %} {% load static %}

{% block extra_css %}
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
<style>
    .filepond--root {
    height: 300px; /* Adjust this value as needed */
}

.filepond--drop-label {
    line-height: 300px; /* Adjust this value to match the height of .filepond--root */
    text-align: center;
}


</style>
{% endblock extra_css %}

{% block content %}
<section id="_combineCSV">
    <section id="Hero" class="py-7 py-lg-110 bg-gray-100">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-lg-8 col-md-12 col-12 text-center my-5">
                    <h1 class="mb-2 display-4 fw-bold">Combine CSVs</h1>
                    <h2 class="lead">Merge multiple spreadsheet or excel files like .csv, .xls and .xlxs. </h2>
                </div>
            </div>
        </div>
    </section>

    <section id="_dropZoneSection">
        <div id="_dropZoneArea" class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <form class="" method="post" enctype="multipart/form-data" id="csv-combiner-form">
                        {% csrf_token %}
                        <input type="file" class="filepond" name="files" id="inputFiles" multiple>
                    </form>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button class="btn btn-primary btn-lg mb-20" onclick="combineFiles()">Combine</button>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}

{% block body_scripts %}
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // FilePond initialization
        const inputElement = document.querySelector('#inputFiles');
        const pond = FilePond.create(inputElement, {
            allowMultiple: true,
            acceptedFileTypes: ['application/vnd.ms-excel', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'text/csv'],
            labelIdle: 'Drag & Drop or <span class="filepond--label-action">Click to Upload </span>',
        });

        // Remove the "Powered by PQINA" badge
        const creditsLink = document.querySelector('.filepond--credits');
        if (creditsLink) {
            creditsLink.remove();
        }
    });
</script>
<script src="{% static 'website/js/tools/papaparse.min.js' %}" defer></script>
<script src="{% static 'website/js/tools/xlsx.full.min.js' %}" defer></script>
<script src="{% static 'website/js/tools/combinecsv.js' %}" defer></script>
{% endblock body_scripts %}
